<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.app.mapper.TodoMapper">
	<select id="selectAll" resultType="com.todo.app.entity.Todo">
		select * from todo_items
	</select>

	<select id="selectIncomplete" resultType="com.todo.app.entity.Todo">
		select *,
			case when time_limit - current_date <![CDATA[<]]> 0 then '予定を' || abs(time_limit - current_date) || '日経過'
				when time_limit - current_date = 0 then '今日の予定'
				when time_limit - current_date <![CDATA[>]]> 0 then '予定まで' || time_limit - current_date || '日'
			end
		as limit
		from todo_items where done_flg = 0
		order by time_limit;
	</select>
	
	<select id="selectComplete" resultType="com.todo.app.entity.Todo">
		select * from todo_items where done_flg = 1
	</select>

	<insert id="add" parameterType="com.todo.app.entity.Todo">
    	insert into todo_items (title,time_limit)
    	values (#{title},to_date(#{time_limit},'yy-mm-dd'))
	</insert>
	
	<update id="update" parameterType="com.todo.app.entity.Todo">
		update todo_items set
			title = #{title},
			time_limit = to_date(#{time_limit},'yy-mm-dd'),
			done_flg = #{done_flg}
			where id = #{id}
	</update>
	
	<delete id="delete" parameterType="com.todo.app.entity.Todo">
		delete from todo_items where done_flg = 1
	</delete>
	
	<delete id="deleteall" parameterType="com.todo.app.entity.Todo">
		delete from todo_items
	</delete>
	
</mapper>