@charset "UTF-8";
header h1 {
	margin: 15px 0;
	text-align: center;
}

main {
	margin: 0 auto;
	padding: 30px 5%;
	width: 500px;
	white-space: nowrap;
	overflow: visible;
	border-radius: 10px;
	box-shadow: 0 0 10px -5px;
}

main h3 {
	margin: 0;
}

main hr {
	margin: 1em 0;
}

input[type="text"] {
	width: 10em;
}

input[type="date"] {
	width: 6.75em;
}

form:not(.delete form) {
	display: flow-root;
	position: relative;
	padding: 2px 0;
}
 .even form:nth-child(2n) {
	background-color: #eee;
}

.left {
	float: left;
}

.right {
	float: right;
}

input[type="checkbox"] {
	position: absolute;
	top: 3px;
	right: 100%;
}

.delete{
	display: flow-root;
}